html,
body {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

.login-form {
    text-align: center;
    max-width: 310px;
    align-items: center;
}

.log_header {
    font-family: Urbanist;
    font-size: 26px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #1E232C;
    margin-bottom: 0px;
}

.log_desc {
    font-family: Urbanist;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #8391A1;
    margin-top: 0px;
}

.login-inputNbtn {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-inputNbtn-input input[type="text"],
.login-inputNbtn-button button {
    width: calc(100% - 2px);
    height: 50px;
    border-radius: 0.5rem;
    border: 1px solid #DADADA;
    box-sizing: border-box;
}

.login-inputNbtn-input input[type="text"] {
    padding-left: 5px;
}

.login-inputNbtn-button button {
    color: white;
    border: none;
    background: #FF6D6A;
    cursor: pointer;
}

.resend-code {
    font-family: Urbanist;
    font-size: 15px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.01em;
    text-align: center;
    margin-top: 0;
}
span{
    color: rgb(65, 65, 230);
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 768px) {
    .container {
        padding: 0 20px;
    }

    .login-form {
        max-width: none;
    }
}